/* Color Pallette:
#D65C5C
#EE6D6D
#F2877D
#F7A08D
#f8a987
#FABB9E
#FFD3AD 
#F9EDC9
#fff1c9 
#DAF4F7 light blue
#118ea7 blue */

body{
    background-color: #DAF4F7;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

#bio{
    text-align: center;
    padding: 5rem;
}

#bio > h1{
    margin-top: -30px;
    margin-bottom: 0;
    color: #EE6D6D;
    font-size: 3rem;
}

#bio > h3{
    margin-top: 0;
    color: #f2877d;
    font-size: 1.5rem;
    margin-bottom: 0;
}

#bio > p{
    margin-bottom: 30px;
    color: #118ea7;
    font-size: 1rem;
    font-weight: 550;
}

#name h1{
    color: #ce4747;
}

#buttons{
    margin-top: 0px;
    text-align: center;
    background-color: #DAF4F7;
}

.button button{
    background-color:#DAF4F7;
    border-color: #f2877d;
    color: #f2877d;
    width: 20%;    
    height: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.button button:hover{
    background-color: #f2877d;
    color: #DAF4F7;
}

footer{
    text-align: center;
}

.connect img{
    width:40px;
}

footer .connecting{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -15px;
}

img{
    margin-top: 20px;
    margin-bottom: 0px;
}

hr{
    border-radius: 100%;
    width: 90%;
    border-color: #EE6D6D;
    border-style: solid;
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: #DAF4F7;
    color: #f2877d;
    font-size: 1rem;
    font-weight: 550;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.experience{
    text-align: center;
    padding: 2rem;
    width: 80%;
    margin: auto;
    border-width: 1px;
    border-style: dashed;
    border-color: #EE6D6D;
    margin-bottom: 1rem;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    color: #EE6D6D;
    font-size: 3rem;
}

.experience > h3{
    margin-top: 0;
    color: #f2877d;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.experience > h4{
    margin-bottom: 15px;
    color: #F7A08D;
    font-size: 1.1rem;
    font-weight: 550;
    margin-top: 15px;
}

.experience > p{
    margin-bottom: 30px;
    color: #118ea7;
    font-size: 1rem;
    font-weight: 550;
    margin-top: 0;
}

#musicHeader h3{
    margin-top: 0;
    text-align: center;
    color: #f2877d;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.link {
    color: #EE6D6D;
}

#music body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.image-container{
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container img{
    width: 300px;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    width: 250px;
    background: rgba(38, 64, 70, 0.926); /* Dark overlay */
    color: #f2877d;
    max-width: 70%;
    text-align: center;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
    opacity: 1;
}

.resturants{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.resturant-text{
    max-width: 400px;
    border-width: 1px;
    border-style: dashed;
    border-color: #EE6D6D;
    padding: 2rem;
    color: #118ea7;
}

.travel-heading{
    text-align: center;
    color: #118ea7;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.traveling{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}